#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.log {
width: 400px ;
background: hwb(98 85% 0%);
padding: 30px;
margin: auto;
margin-top: 34px;
border-radius: 32px;
font-family: 'calibri';
color: rgb(57, 184, 95);

}
.reg {
  width: 400px ;
  background: hwb(98 85% 0%);
  padding: 30px;
  margin: auto;
  margin-top: 34px;
  border-radius: 32px;
  font-family: 'calibri';
  color: rgb(57, 184, 95);
  }
.nave{
  display:inline-flex;
  float:initial;
  color: rgb(57, 184, 95);
}
.olv{
  width: 400px ;
  background: hwb(98 85% 0%);
  padding: 30px;
  margin: auto;
  margin-top: 34px;
  border-radius: 32px;
  font-family: 'calibri';
}
.nav_butt{
  color: rgb(57, 184, 95);
}
label{
  color:rgb(180, 54, 197)
}
.hede{
  background-color: aqua;
  height: 100px;
  width: 100%;
}